// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

// your styles here
add-head-background = #49b1ec
loader-color        = #49b1ec
add-head-color      = #fff
input-background    = #fff
input-help-color    = #000
weather-color       = #fff
city-height         = 15em
city-margin-bottom  = 1em
random-background   = #f3f3f3

.loading 
    #refresh
        opacity: .5
    #loader
        visibility: visible


#add-head
    background: add-head-background
    color: add-head-color

    text-align: center
    overflow: hidden
    height: 10em

    h1
        display: inline-block
        margin-top: 0
        margin-bottom: .5em 
        padding-top: .5em
        font-size: 3em
        letter-spacing: .02em

        img 
            margin-left: .2em
            opacity: .7
            height: 1em
            cursor: pointer
    form
        margin-top: 0
        padding-top: 2em
        margin-bottom: .5em 
        display: inline-block
        text-align: start
        label 
            font-weight: normal

    .input-group
        input
            border: 0
            box-shadow: 0 0 0, 0 0 0
            background: input-background
            float: none
            height: 100%
            height: 2.5em
            margin-right: .5em
        .input-group-addon
            border: 0
            background: input-background
            cursor: pointer
            height: 2.5em
        img
            vertical-align: top
            opacity: .7
            height: 100%

    .help-block
        color: input-help-color
        font-size: xx-small
        text-align: center
    .left
    .right
        padding-top: 5em
        overflow: hidden
        img 
            height: 8em

    .head-bottom
        div
        .right
            background-image: url(../images/cloud.svg)
            height: 30px

#loader
    visibility: hidden
    padding: 0
    margin: 0
    padding-top: .2em
    text-align: center
    div
        background: loader-color

#random
    padding: 1em
    text-align: center
    background: random-background
    .random-choice
        margin: .5em
        padding: 1em .2em
        border-radius: 4px
        color: weather-color
        cursor: pointer
        &:hover
            opacity: .8
    .random-choice-name
        white-space: no-wrap
        overflow: hidden
        text-overflow: ellipsis
        font-size: 2em
        padding-bottom: .3em
    .random-choice-weather
        text-align: center
        display: inline-block
        width: 55%
        font-size: 6em
    .random-choice-infos
        text-align: center
        padding-bottom: .3em
        display: inline-block
        width: 45%
        .random-choice-temp
            font-size: 4em
        .random-choice-humidity
            font-size: 1em
            display: inline-block
            img
                vertical-align: top
                height: 1.5em

#cities
    list-style: none
    padding: 0
    .city
        padding: 0
        margin: 0 1em
        margin-bottom: city-margin-bottom
        color: weather-color

    .now
        border-radius: 4px 0 0 4px
        height: city-height
        margin-bottom: city-margin-bottom
        padding: 0

        &:hover
            .now-remove
                display: inline-block
        .now-name
            padding: .3em .3em 0 .6em
            font-size: 2.25em
            display: inline-block
            width: 55%
            white-space: no-wrap
            overflow: hidden
            text-overflow: ellipsis
            min-height: 62px
        .now-description
            font-size: 1em
            font-style: italic
            display: inline-block
            width: 30%
            white-space: no-wrap
            overflow: hidden
            text-overflow: ellipsis
            padding-bottom: .9em
        .now-remove
            vertical-align: top
            width: 15%
            display: none
            cursor: pointer
        .now-weather
            text-align: center
            padding: 0 .1em 0 .1em
            display: inline-block
            width: 45%
            font-size: 6.75em
        .now-infos
            padding-bottom: 1em
            display: inline-block
            width: 55%
            .now-temp
                font-size: 5em
                display: inline-block
            .now-humidity
                font-size: 1em
                display: inline-block
                img
                    vertical-align: top
                    height: 1.5em
    .today
        height: city-height
        margin-bottom: city-margin-bottom
        margin-left: 1px
        padding: 0
        border-radius: 0 4px 0 0
        .time
            font-size: 1.25em
            height: 20%
            margin: 0
            &:hover
                opacity: .8
            .time-hour
                background: #000
                opacity: .2
            div, strong
                display: inline-block
                padding: .4em 0
                height: 100%
                width: 25%
                text-align: center
        .index-0
            border-radius: 0 4px 0 0
        .index-4
            border-radius: 0 0 4px 0

    .week
        margin-right: -1px
        height: city-height
        margin-bottom: city-margin-bottom

        .days
            height: city-height
            margin: 0
            .day
                height: 100%
                margin: 0 0 0 1px
                padding: .5em 0 0 0
                text-align: center
                &:hover
                    opacity: .8
                .day-name
                    font-weight: bold
                .day-weather
                    padding: .1em 0 .5em 0
                    font-size: 3em
                .day-description
                    font-style: italic
                    padding: 0 0 1em 0
                .day-temp
                    font-size: 1.5em
                    display: inline-block
                    width: 50%
            .index-0
                border-radius: 4px 0 0 4px
            .index-4
                border-radius: 0 4px 4px 0


#random
#cities
    .weather-01d
        background: #fc6a23
        &.temp-hot
            background: #fc371e
        &.temp-cold
            background: #fd8928
    .weather-01n
        background: #171B34
        &.temp-hot
            background: #0D0F1D
        &.temp-cold
            background: #202648
    .weather-02d
        background: #f7bc2d
        &.temp-hot
            background: #f3a528
        &.temp-cold
            background: #f8ca30
    .weather-02n
        background: #242C4A
        &.temp-hot
            background: #14182A 
        &.temp-cold
            background: #333C66
    .weather-03d
        background: #4DBFD5
        &.temp-hot
            background: #3AA6C6
        &.temp-cold
            background: #5CCCDD
    .weather-03n
        background: #214A60
        &.temp-hot
            background: #122B39 
        &.temp-cold
            background: #2E6781
    .weather-04d
        background: #63AEB0
        &.temp-hot
            background: #369194 
        &.temp-cold
            background: #82BFC0
    .weather-04n
        background: #2E4651
        &.temp-hot
            background: #1A282E 
        &.temp-cold
            background: #406170
    .weather-09d
        background: #2A5B75
        &.temp-hot
            background: #112045 
        &.temp-cold
            background: #397F92
    .weather-09n
        background: #142E3E
        &.temp-hot
            background: #0B1A23 
        &.temp-cold
            background: #1D3F56
    .weather-10d
        background: #41A586
        &.temp-hot
            background: #27845C 
        &.temp-cold
            background: #52B89F
    .weather-10n
        background: #1C4343
        &.temp-hot
            background: #0F2626 
        &.temp-cold
            background: #285D5D
    .weather-11d
        background: #495358
        &.temp-hot
            background: #1B1F21 
        &.temp-cold
            background: #66727A
    .weather-11n
        background: #242A33
        &.temp-hot
            background: #14181D 
        &.temp-cold
            background: #313A47
    .weather-13d
        color: #495358
        background: #D8DEC0
        &.temp-hot
            background: #CAD2AA 
        &.temp-cold
            background: #E0E5CD
    .weather-13n
        color: #495358
        background: #505457
        &.temp-hot
            background: #2D3031 
        &.temp-cold
            background: #6E7478
    .weather-50d
        background: #99BDC7
        &.temp-hot
            background: #75A6B3 
        &.temp-cold
            background: #AECBD3
    .weather-50n:
        background: #3E4B59
        &.temp-hot
            background: #232A33 
        &.temp-cold
            background: #56667B

#footer
    text-align: center
    padding: .7em
