datalist#capitals
    option(value="Paris, fr")
    option(value="Beijing, cn")
    option(value="Tokyo, jp")
    option(value="Moscow, ru")
    option(value="Seoul, kr")
    option(value="Jakarta, id")
    option(value="Tehran, ir")
    option(value="Mexico, mx")
    option(value="Lima, pe")
    option(value="Bangkok, th")
    option(value="London, gb")
    option(value="Bogota, co")
    option(value="Cairo, eg")
    option(value="Baghdad, iq")
    option(value="Hong Kong, hk")
    option(value="Dhaka, bd")
    option(value="Singapore, sg")
    option(value="Ankara, tr")
    option(value="Santiago, cl")
    option(value="Riyadh, sa")
    option(value="Kinshasa, cd")
    option(value="Berlin, de")
    option(value="Damascus, sy")
    option(value="Hanoi, vn")
    option(value="Madrid, es")
    option(value="Pyongyang, kp")
    option(value="Kabul, af")
    option(value="Addis Ababa, et")
    option(value="Buenos Aires, ar")
    option(value="Rome, it")
    option(value="Kiev, ua")
    option(value="Nairobi, ke")
    option(value="Brasília, br")
    option(value="Taipei, tw")
    option(value="Amman, jo")
    option(value="Luanda, ao")
    option(value="Pretoria, za")
    option(value="Tashkent, uz")
    option(value="Stockholm, se")
    option(value="Havana, cu")
    option(value="Phnom Penh, kh")
    option(value="Bucharest, ro")
    option(value="Baku, az")
    option(value="Caracas, ve")
    option(value="Rabat, ma")
    option(value="Vienna, at")
    option(value="Khartoum, sd")
    option(value="Budapest, hu")
    option(value="Warsaw, pl")
    option(value="Minsk, by")
    option(value="Manila, ph")
    option(value="Kampala, ug")
    option(value="Accra, gh")
    option(value="Yaoundé, cm")
    option(value="Antananarivo, mg")
    option(value="Beirut, lb")
    option(value="Algiers, dz")
    option(value="Quito, ec")
    option(value="Harare, zw")
    option(value="Doha, qa")
    option(value="Camayenne, gn")
    option(value="Kuala Lumpur, my")
    option(value="Montevideo, uy")
    option(value="Lusaka, zm")
    option(value="Bamako, ml")
    option(value="Prague, cz")
    option(value="Port-au-Prince, ht")
    option(value="Tripoli, ly")
    option(value="Kuwait City, kw")
    option(value="Belgrade, rs")
    option(value="Santo Domingo, do")
    option(value="Mogadishu, so")
    option(value="Sofia, bg")
    option(value="Brazzaville, cg")
    option(value="Brussels, be")
    option(value="Yerevan, am")
    option(value="Maputo, mz")
    option(value="Freetown, sl")
    option(value="Tbilisi, ge")
    option(value="Dakar, sn")
    option(value="Ouagadougou, bf")
    option(value="Dublin, ir")
    option(value="Monrovia, lr")
    option(value="Guatemala City, gt")
    option(value="Islamabad, pk")
    option(value="Managua, ni")
    option(value="Loikaw, mm")
    option(value="Ulaanbaatar, mn")
    option(value="Lilongwe, mw")
    option(value="Ottawa, ca")
    option(value="La Paz, bo")
    option(value="Bishkek, kg")
    option(value="Lomé, tg")
    option(value="Panama City, pa")
    option(value="Kathmandu, np")
    option(value="Amsterdam, nl")
    option(value="Zagreb, hr")
    option(value="Muscat, om")
    option(value="Niamey, ne")
    option(value="Chişinău, md")
    option(value="Jerusalem, il")
    option(value="Abuja, ng")
    option(value="Tirana, al")
    option(value="Tunis, tu")
    option(value="Ashgabat, tm")
    option(value="N'Djamena, td")
    option(value="Tegucigalpa, hn")
    option(value="Bangui, cf")
    option(value="Athens, gr")
    option(value="Nouakchott, mr")
    option(value="Kigali, rw")
    option(value="Riga, lv")
    option(value="Kingston, jm")
    option(value="Astana, kz")
    option(value="Oslo, no")
    option(value="Helsinki, fi")
    option(value="Abu Dhabi, ae")
    option(value="Dushanbe, tj")
    option(value="Vilnius, lt")
    option(value="Libreville, ga")
    option(value="Asmara, er")
    option(value="Lisbon, pt")
    option(value="San Salvador, sv")
    option(value="Asunción, py")
    option(value="Macau, mo")
    option(value="Skopje, mk")
    option(value="Copenhagen, dk")
    option(value="Djibouti, dj")
    option(value="Yamoussoukro, ci")
    option(value="Bissau, gw")
    option(value="Bratislava, sk")
    option(value="San Juan, pr")
    option(value="Tallinn, ee")
    option(value="Bujumbura, bj")
    option(value="Sarajevo, ba")
    option(value="Wellington, nz")
    option(value="Juba, ss")
    option(value="Canberra, au")
    option(value="San José, cr")
    option(value="Port Moresby, pg")
    option(value="Vientiane, la")
    option(value="Dodoma, tz")
    option(value="Maseru, ls")
    option(value="Nicosia, cy")
    option(value="Ljubljana, si")
    option(value="Paramaribo, sr")
    option(value="Windhoek, na")
    option(value="New Delhi, in")
    option(value="Nassau, bs")
    option(value="Gaborone, bw")
    option(value="Porto-Novo, bj")
    option(value="Prishtina, xk")
    option(value="El Aaiún, eh")
    option(value="Tiraspol, md")
    option(value="Port Louis, mu")
    option(value="Podgorica, me")
    option(value="Manama, bh")
    option(value="Georgetown, gy")
    option(value="Praia, cv")
    option(value="Berne, ch")
    option(value="Sri Jayawardenapura Kotte, lk")
    option(value="Reykjavík, is")
    option(value="Bridgetown, bb")
    option(value="Malé, mv")
    option(value="Thimphu, bt")
    option(value="Malabo, gq")
    option(value="Nouméa, nb")
    option(value="Suva, fj")
    option(value="Mbabane, sz")
    option(value="Luxembourg, lu")
    option(value="Castries, lc")
    option(value="Saipan, mp")
    option(value="Moroni, km")
    option(value="Honiara, sb")
    option(value="Dili, tl")
    option(value="Sao Tome, st")
    option(value="Pago Pago, as")
    option(value="Willemstad, cw")
    option(value="Kingstown, vc")
    option(value="Apia, ws")
    option(value="Port Vila, vu")
    option(value="Monaco, mc")
    option(value="Banjul, gm")
    option(value="Tarawa, ki")
    option(value="Oranjestad, aw")
    option(value="Victoria, sc")
    option(value="Gibraltar, gi")
    option(value="Saint Helier, je")
    option(value="George Town, ky")
    option(value="Douglas, im")
    option(value="Papeete, pf")
    option(value="Ramallah, ps")
    option(value="Majuro, mh")
    option(value="Andorra, ad")
    option(value="St. John's, ca")
    option(value="Peter Port, gg")
    option(value="Belmopan, bz")
    option(value="Nuuk, gl")
    option(value="Roseau, dm")
    option(value="Basseterre, kn")
    option(value="Mariehamn, ax")
    option(value="Charlotte Amalie, vi")
    option(value="Palikir, fm")
    option(value="Road Town, vg")
    option(value="St. George's, gd")
    option(value="Valletta, mt")
    option(value="Marigot, mf")
    option(value="Saint-Pierre, re")
    option(value="Avarua, ck")
    option(value="Vaduz, li")
    option(value="San Marino, sm")
    option(value="Funafuti, tv")
    option(value="Cockburn Town, tc")
    option(value="Gustavia, bl")
    option(value="Stanley, fk")
    option(value="Longyearbyen, sj")
    option(value="Philipsburg, sx")
    option(value="Mata-Utu, wf")
    option(value="Hamilton, bm")

#content
    #options
        div(class="unit")
    #add-head
        div(class="row")
            .left(class="hidden-xs hidden-sm col-md-2")
                img(src="images/sun-cloud.svg")
            h1(class="col-md-4") Cozy 
                strong Weather 
                | Forecast
                img#refresh(src="icons/refresh.svg")
            .right(class="hidden-xs hidden-sm col-md-2")
                img(src="images/cloud.svg")
            form#search(class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-3")
                label
                    strong Add a new city 
                    | to your forecast
                div(class="input-group")
                    input.city(class="form-control", list="capitals", type="text", placeholder="Paris, fr")
                    div(class="input-group-addon search", title="The list is just here to help, if you can't find your city there, just type its name and press enter")
                        img(src="icons/search.svg", alt="search")
                p(class="help-block") Tip: To ensure the location, add the country code after the city name (for ex: Paris, fr)
    #loader(class="loader-inner ball-pulse")
        div
        div
        div
        p Loading weather, please wait ...
    ul#cities
    #random
        p(class="row") Click to add to your cozy forecast ...
        #random-choices(class="row")
            div(class="hidden-xs col-md-1 col-lg-3 random-pad")
    #footer 
        | data from 
        a(href="https://openweathermap.org", target="_blank") OpenWeatherMap 
        | -
        | icons from 
        a(href="https://erikflowers.github.io/weather-icons/", target="_blank") Erik Flowers
