#content
    #add-head
        h1(class="row") Cozy <strong>Weather</strong> Forecast
        h5(class="row") Welcome to your weather app, <strong>type the name of a city</strong>
        form(class="row")
            div(class="input-group col-xs-offset-4 col-xs-4")
                input(class="form-control", placeholder="Paris, fr")
                div(class="input-group-addon")
                    span(class="glyphicon glyphicon-search")
            p(class="help-block") Tip: To ensure the location, add the country code after the city name (for ex: Paris, fr)
    ul#cities
    #add-choices
        p(class="row") Or click to add to your cozy forecast
        #add-choices-examples(class="row")
            .col-xs-3
