#content
    #add-head
        div(class="row")
            .left(class="col-xs-1")
                img(src="images/sun-cloud.svg")
            h1(class="col-xs-6") Cozy 
                strong Weather 
                | Forecast
            form#search(class="col-xs-4")
                label
                    strong Add a new city 
                    | to your forecast
                div(class="input-group")
                    input.city(class="form-control", placeholder="Paris, fr")
                    div(class="input-group-addon")
                        img(src="icons/search.svg", alt="search")
                p(class="help-block") Tip: To ensure the location, add the country code after the city name (for ex: Paris, fr)
    #loader(class="loader-inner ball-pulse")
        div
        div
        div
        p Loading weather, please wait ...
    ul#cities
    #random
        p(class="row") Click to add to your cozy forecast ...
        #random-choices(class="row")
            .col-xs-3
    #footer 
        | data from 
        a(href="https://openweathermap.org", target="_blank") OpenWeatherMap 
        | -
        | icons from 
        a(href="https://erikflowers.github.io/weather-icons/", target="_blank") Erik Flowers
