#content
    #add-head
        h1(class="row") Cozy <strong>Weather</strong> Forecast
        h5(class="row") Welcome to your weather app, <strong>type the name of a city</strong>
        form#search(class="row")
            div(class="input-group col-xs-offset-4 col-xs-4")
                input.city(class="form-control", placeholder="Paris, fr")
                div(class="input-group-addon")
                    img(src="/icons/search.svg", alt="search")
            p(class="help-block") Tip: To ensure the location, add the country code after the city name (for ex: Paris, fr)
        #bottom(class="row")
            .left(class="col-xs-offset-3 col-xs-1")
            .right(class="col-xs-offset-4 col-xs-1")
    ul#cities
    #random
        p(class="row") Or click to add to your cozy forecast
        #random-choices(class="row")
            .col-xs-3
